/**
 * 
 * @authors Casper Lai (casper.lai@sleepingdesign.com)
 * @date    2014-01-03 11:16:40
 * @version 1.0.0.0
 */

@mixin font-size($size){
    $baseSize: 12px;
    @if $size > $baseSize {
        font-size: $size;
    } @else {
        font-size: $size;
        -webkit-transform:scale($size / $baseSize);
        display: inline-block;
    }
}